#Metadata Config file

# Metadata manager: default is radixtree. Currently radixtree is the only supported KVS.
metadata_manager: radixtree
 
# Path where metadata info is stored. By default, it will be placed in /dev/shm/<metadata_manager>. 
# Example: If metadata manager is radixtree, then metadata info would be placed under /dev/shm/radixtree folder.
metadata_path: /dev/shm/

# Rpc interface
# Rpc interface used by metadata rpc server.
# Rpc address used by metadata rpc server to accept connections from Client Interface Service.
#
# The Client Interface Service connect to this address if the metadata_interface_type
# (defined in fam_client_interface_config.yaml) is rpc.
#Format:
#rpc_interface: <interface_address>:<portno>
# where interface address is hostname (fqdn)/ip4 address where grpc port should be exposed.
# portno is port to be used by OpenFAM for communication between Metadata Manager and
# Client Interface Service.
rpc_interface: 127.0.0.1:8788

# Flag to enable or disable region spanning. By default, it is set to true.
enable_region_spanning: true

#If region spanning is enabled, obtain the value fo size_per_memoryserver.
size_per_memoryserver=1048576

